*{
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Main_Div{
  padding: 30px;
}
.Home {
  margin-top: 10%;
}
.card {
  margin-bottom: 50px !important;
}
.jumbotron{
  background-color: #fff !important;
}
.imgurl{
  width: 100%;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
